.search-sid {
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 200px;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.not-display {
    display: none;
}
.search-result {

}
.items-template-result {
    border: solid 1px gray;
}
.search {
    margin-bottom: 10px;
}
.button-blue {
    background: #0084d7;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    height: 25px;
    width: 110px;
    font-weight: bold;
}
.items-template-result:not(:last-child) {
    border-bottom: none;
}
